extends layout
block content
    br
    table.table
        thead
            tr
                th(scope='col') telephone
                th(scope='col') commune
                th(scope='col') nomrue
                th(scope='col') codepostal
                th(scope='col') Nom
                th(scope='col') refBibli

                th(scope='col') Actions
        tbody
           each bibli in tableaubibli

            tr
                td=bibli.telephone
                td=bibli.commune
                td=bibli.nomrue
                td=bibli.codepostal
                td=bibli.nometablissement
                td=bibli.refBibli

                td
                     a(href='/bibliotheque/delete/' + bibli._id)
                                           button.btn.btn-primary(type='button') Del

                td
                    a(href='/bibli/' + bibli.refBibli)
                                            button.btn.btn-primary(type='button') Edit
