extends layout
block content
        .modal-dialog
            .modal-content
                .modal-header
                    h4#myModalLabel.modal-title
                        | Ajouter Bibliotheque

                    form(method='POST' action='/bibliotheque')
                            span telephone
                            input(type='text' name='telephone' value=telephone)
                            br
                            span commune
                            input(type='text' name='commune' value=commune)
                            br
                            span services
                            input(type='text' name='services_proposes' value=services_proposes)
                            br
                            span nomrue
                            input(type='text' name='nomrue' value=nomrue)
                            br
                            span descoll
                            input(type='text' name='descoll' value=descoll)
                            br
                            span codepostal
                            input(type='text' name='codepostal' value=codepostal)
                            br
                            span Nom lieu
                            input(type='text' name='nometablissement' value=nometablissement)
                            br
                            span Horaire
                            input(type='text' name='heuresouverture' value=heuresouverture)
                            br
                            span refBibli
                            input(type='text' name='refBibli' value=refBibli)
                            br
                            input(type='submit' value='Ajouter')