extends layout
block content
    h1 Student Form
    p
    form(method='POST' action='/bibliotheque')
        p
            span telephone
            input(type='text' name='telephone')
        p
            span commune
            input(type='text' name='commune')
        p
            span services_proposes
            input(type='text' name='services_proposes')
        p
            span nomrue
            input(type='text' name='nomrue')
        p
            span descoll
            input(type='text' name='descoll')
        p
            span codepostal
            input(type='text' name='codepostal')
        p
            span nometablissement
            input(type='text' name='nometablissement')
        p
            span heuresouverture
            input(type='text' name='heuresouverture')

        p
            input(type='submit' value='Add bibli')
    p
        table(border=1)
            tr
                th telephone
                th commune
                th services_proposes
                th nomrue
                th descoll
                th codepostal
                th nometablissement
                th heuresouverture
            each st in students
                tr
                    td #{st.telephone}
                    td #{st.commune}
                    td #{st.services_proposes}
                    td #{st.descoll}
                    td #{st.age}
                    td #{st.codepostal}
                    td #{st.nometablissement}
                    td #{st.heuresouverture}
                    td
                        a(href="/edit-student/" + st.id) Edit